<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <h1>TIM String Producer</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 ">
            <p>Welcome to my TIM string producer. <br/> I decided that I needed this after playing space engineers with Taleden's inventory manager for a few hours. 
            With this you can feed in the blocks that you need to create and it will create the labels needed by TIM in order to move the items you need into the place that you want them.</p>
        </div>
    </div>
</div>